
/mods
automodlist.txt.old
/.fabric
/logs
/modernfix
/ModTranslations
/saves
/data
/downloads
options.txt
profile.json
realms_persistence.json
usercache.json
command_history.txt
cherishedworlds-favorites.dat
/resourcepacks
